*{
    box-sizing: border-box;
    padding: 0%;
    margin:0%;
}
.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:700px;
    background-color: hsl(216, 50%, 30%);
    }
.b{
    border: 1px solid hsl(215, 54%, 11%);
    border-radius: 20px;
    height:500px;
    width:300px;
    padding: 30px;
    text-align: center;
    background-color: hsl(216, 50%, 16%);

}
.flex img{
    width:230px;
    height:200px;
    margin-bottom:10px;
}
.flex h3{
    color:white;
    font-weight: bold;
    padding-right: 80px;
}
.flex p{
    color:white;
    opacity:0.6;
    text-align: justify;
}
.fav{
    display: flex;
    gap:10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
}
.g{
    color:white;
    opacity:0.6;
}
.t{
    color:aqua;
}
.gip{
    display: flex;
    gap:7px;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
    text-decoration-line:overline;

}
.gip gat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.gip img{
    width: 50px;
    height:50px;
    padding-left: 10px;
    padding-top:20px ;
}
.gap{
    padding-top: 10px;
    padding-bottom: 15px;
}
@media(max-width:393px){
    .flex{
        height:auto;
    }

}









